<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_799e5d6f1fef9cd92452a73b7eee40b1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_799e5d6f1fef9cd92452a73b7eee40b1" ></div>
        
</body>
<script>
    
    
            var map_799e5d6f1fef9cd92452a73b7eee40b1 = L.map(
                "map_799e5d6f1fef9cd92452a73b7eee40b1",
                {
                    center: [37.0902, -95.7129],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_58bd371327449254f58a5f2535a5ea57 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_58bd371327449254f58a5f2535a5ea57.addTo(map_799e5d6f1fef9cd92452a73b7eee40b1);
        
    
            var marker_cluster_86143e05d22d83d5f900f7e854aaec81 = L.markerClusterGroup(
                {}
            );
        
    
            var marker_63517bd25da1378f28624a870bdb6a35 = L.marker(
                [39.328763913174456, -111.66920084078133],
                {}
            ).addTo(marker_cluster_86143e05d22d83d5f900f7e854aaec81);
        
    
            var icon_8437f7a4b32333a8934832f73e94af0c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_63517bd25da1378f28624a870bdb6a35.setIcon(icon_8437f7a4b32333a8934832f73e94af0c);
        
    
        var popup_841af640e8cf7bdc31de4d2d41b944bc = L.popup({"maxWidth": 300});

        
            
                var html_f940bb73738ccfafae6c84b7dd5b3df4 = $(`<div id="html_f940bb73738ccfafae6c84b7dd5b3df4" style="width: 100.0%; height: 100.0%;"><br>State: <strong>Utah</strong><br>Season: <strong>Spring</strong><br>Sales Value:<strong>16,630,657.00</strong></div>`)[0];
                popup_841af640e8cf7bdc31de4d2d41b944bc.setContent(html_f940bb73738ccfafae6c84b7dd5b3df4);
            
        

        marker_63517bd25da1378f28624a870bdb6a35.bindPopup(popup_841af640e8cf7bdc31de4d2d41b944bc)
        ;

        
    
    
            var marker_1106cd850a96ff51ba3bcf42bacc56c4 = L.marker(
                [39.328763913174456, -111.66920084078133],
                {}
            ).addTo(marker_cluster_86143e05d22d83d5f900f7e854aaec81);
        
    
            var icon_5fea13702f5a9db0efe253f6b27a7148 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1106cd850a96ff51ba3bcf42bacc56c4.setIcon(icon_5fea13702f5a9db0efe253f6b27a7148);
        
    
        var popup_447b2b6907b4495f745b4da634d8eb1e = L.popup({"maxWidth": 300});

        
            
                var html_2cd05ed640b26041977356724c63080a = $(`<div id="html_2cd05ed640b26041977356724c63080a" style="width: 100.0%; height: 100.0%;"><br>State: <strong>Utah</strong><br>Season: <strong>Spring</strong><br>Sales Value:<strong>1,625,380.00</strong></div>`)[0];
                popup_447b2b6907b4495f745b4da634d8eb1e.setContent(html_2cd05ed640b26041977356724c63080a);
            
        

        marker_1106cd850a96ff51ba3bcf42bacc56c4.bindPopup(popup_447b2b6907b4495f745b4da634d8eb1e)
        ;

        
    
    
            var marker_e4dcd4c14173e6284de86c8a87284000 = L.marker(
                [39.328763913174456, -111.66920084078133],
                {}
            ).addTo(marker_cluster_86143e05d22d83d5f900f7e854aaec81);
        
    
            var icon_13c39f9a3e77e42bb92449bd61dd2c61 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e4dcd4c14173e6284de86c8a87284000.setIcon(icon_13c39f9a3e77e42bb92449bd61dd2c61);
        
    
        var popup_c34ac43e95eff1e22f9d5d26aa4bc0d3 = L.popup({"maxWidth": 300});

        
            
                var html_624bc60fa7cad38df5b724fbe911736c = $(`<div id="html_624bc60fa7cad38df5b724fbe911736c" style="width: 100.0%; height: 100.0%;"><br>State: <strong>Utah</strong><br>Season: <strong>Spring</strong><br>Sales Value:<strong>6,376,070.00</strong></div>`)[0];
                popup_c34ac43e95eff1e22f9d5d26aa4bc0d3.setContent(html_624bc60fa7cad38df5b724fbe911736c);
            
        

        marker_e4dcd4c14173e6284de86c8a87284000.bindPopup(popup_c34ac43e95eff1e22f9d5d26aa4bc0d3)
        ;

        
    
    
            var marker_ff9d5b72a1d4cec591bed08b5ed0271c = L.marker(
                [39.328763913174456, -111.66920084078133],
                {}
            ).addTo(marker_cluster_86143e05d22d83d5f900f7e854aaec81);
        
    
            var icon_e90bdff9340834a158bb70a88065c448 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_ff9d5b72a1d4cec591bed08b5ed0271c.setIcon(icon_e90bdff9340834a158bb70a88065c448);
        
    
        var popup_79659d9545c6fb13a5d471164e962270 = L.popup({"maxWidth": 300});

        
            
                var html_8d4b5e490b4b9d522233cfedc995b6d7 = $(`<div id="html_8d4b5e490b4b9d522233cfedc995b6d7" style="width: 100.0%; height: 100.0%;"><br>State: <strong>Utah</strong><br>Season: <strong>Spring</strong><br>Sales Value:<strong>9,525,835.00</strong></div>`)[0];
                popup_79659d9545c6fb13a5d471164e962270.setContent(html_8d4b5e490b4b9d522233cfedc995b6d7);
            
        

        marker_ff9d5b72a1d4cec591bed08b5ed0271c.bindPopup(popup_79659d9545c6fb13a5d471164e962270)
        ;

        
    
    
            var marker_3a2f3061e74381522106254a65093d61 = L.marker(
                [39.328763913174456, -111.66920084078133],
                {}
            ).addTo(marker_cluster_86143e05d22d83d5f900f7e854aaec81);
        
    
            var icon_c066304d339c8422c942da641639971c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3a2f3061e74381522106254a65093d61.setIcon(icon_c066304d339c8422c942da641639971c);
        
    
        var popup_b5a62bbc353d2ad13d9420876e5730f9 = L.popup({"maxWidth": 300});

        
            
                var html_726f2cd538fdc217f49f79969dab6163 = $(`<div id="html_726f2cd538fdc217f49f79969dab6163" style="width: 100.0%; height: 100.0%;"><br>State: <strong>Utah</strong><br>Season: <strong>Spring</strong><br>Sales Value:<strong>760,146.00</strong></div>`)[0];
                popup_b5a62bbc353d2ad13d9420876e5730f9.setContent(html_726f2cd538fdc217f49f79969dab6163);
            
        

        marker_3a2f3061e74381522106254a65093d61.bindPopup(popup_b5a62bbc353d2ad13d9420876e5730f9)
        ;

        
    
    
            marker_cluster_86143e05d22d83d5f900f7e854aaec81.addTo(map_799e5d6f1fef9cd92452a73b7eee40b1);
        
</script>
</html>