<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_85c994e239a3aa941de4db326bd641ca {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_85c994e239a3aa941de4db326bd641ca" ></div>
        
</body>
<script>
    
    
            var map_85c994e239a3aa941de4db326bd641ca = L.map(
                "map_85c994e239a3aa941de4db326bd641ca",
                {
                    center: [37.0902, -95.7129],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b8eac88f18e34513c06f11dc240b85be = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_b8eac88f18e34513c06f11dc240b85be.addTo(map_85c994e239a3aa941de4db326bd641ca);
        
    
            var marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8 = L.markerClusterGroup(
                {}
            );
        
    
            var marker_0cd6fdbc6e1812aa3daa09d03bb62b50 = L.marker(
                [42.23766676999892, -71.73571885214085],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_baa0883908a4525557b7e22dbf486ddb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_0cd6fdbc6e1812aa3daa09d03bb62b50.setIcon(icon_baa0883908a4525557b7e22dbf486ddb);
        
    
        var popup_1bf5b8be5c0a1ea96e1e26eff759ff84 = L.popup({"maxWidth": 300});

        
            
                var html_49cb6aca2d38c46a6a76e613f5992f9c = $(`<div id="html_49cb6aca2d38c46a6a76e613f5992f9c" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>13,472,555.00</strong></div>`)[0];
                popup_1bf5b8be5c0a1ea96e1e26eff759ff84.setContent(html_49cb6aca2d38c46a6a76e613f5992f9c);
            
        

        marker_0cd6fdbc6e1812aa3daa09d03bb62b50.bindPopup(popup_1bf5b8be5c0a1ea96e1e26eff759ff84)
        ;

        
    
    
            var marker_7c4ed8401b40ad83a89db6c7e4dc7276 = L.marker(
                [43.69169024392466, -71.56273394862772],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_ec658c097385027946eefb2eea6b9ccc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7c4ed8401b40ad83a89db6c7e4dc7276.setIcon(icon_ec658c097385027946eefb2eea6b9ccc);
        
    
        var popup_4c4208d74473fe6eabcc1dae28176bca = L.popup({"maxWidth": 300});

        
            
                var html_68e66a2eac82103880b4705d06d12289 = $(`<div id="html_68e66a2eac82103880b4705d06d12289" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>1,053,433.00</strong></div>`)[0];
                popup_4c4208d74473fe6eabcc1dae28176bca.setContent(html_68e66a2eac82103880b4705d06d12289);
            
        

        marker_7c4ed8401b40ad83a89db6c7e4dc7276.bindPopup(popup_4c4208d74473fe6eabcc1dae28176bca)
        ;

        
    
    
            var marker_fc0f81450648a8cd09498a5b22e0ef74 = L.marker(
                [41.68199156750226, -71.52928731203042],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_c01d4622384fbfba8c60b381b1994831 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_fc0f81450648a8cd09498a5b22e0ef74.setIcon(icon_c01d4622384fbfba8c60b381b1994831);
        
    
        var popup_c8d94ce88269d944a3fcef798352aade = L.popup({"maxWidth": 300});

        
            
                var html_db0e4cc1aa4467ade8b4b9d231bffd9f = $(`<div id="html_db0e4cc1aa4467ade8b4b9d231bffd9f" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>9,133,402.00</strong></div>`)[0];
                popup_c8d94ce88269d944a3fcef798352aade.setContent(html_db0e4cc1aa4467ade8b4b9d231bffd9f);
            
        

        marker_fc0f81450648a8cd09498a5b22e0ef74.bindPopup(popup_c8d94ce88269d944a3fcef798352aade)
        ;

        
    
    
            var marker_4d6025a593949d22a148efa3b1fe918b = L.marker(
                [44.072753725766496, -72.66225926956243],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_bc326aa7970c0577a3ed7cd2bd4e39cc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4d6025a593949d22a148efa3b1fe918b.setIcon(icon_bc326aa7970c0577a3ed7cd2bd4e39cc);
        
    
        var popup_2b200d09ac6e4b5625329624ac01a486 = L.popup({"maxWidth": 300});

        
            
                var html_2c945936c9bd6f67db7432069a9f36d3 = $(`<div id="html_2c945936c9bd6f67db7432069a9f36d3" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>7,283,970.00</strong></div>`)[0];
                popup_2b200d09ac6e4b5625329624ac01a486.setContent(html_2c945936c9bd6f67db7432069a9f36d3);
            
        

        marker_4d6025a593949d22a148efa3b1fe918b.bindPopup(popup_2b200d09ac6e4b5625329624ac01a486)
        ;

        
    
    
            var marker_cf11986d0143a0245fadd1ba6cf5e508 = L.marker(
                [32.652468898777215, -83.45109299211286],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_012496871ba696e909f3e99ec49fcc0f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cf11986d0143a0245fadd1ba6cf5e508.setIcon(icon_012496871ba696e909f3e99ec49fcc0f);
        
    
        var popup_9908dfd7cf8f356a2b8de548d03886c9 = L.popup({"maxWidth": 300});

        
            
                var html_623d46984f33ccd6813b3a20b29dd30a = $(`<div id="html_623d46984f33ccd6813b3a20b29dd30a" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>5,584,724.00</strong></div>`)[0];
                popup_9908dfd7cf8f356a2b8de548d03886c9.setContent(html_623d46984f33ccd6813b3a20b29dd30a);
            
        

        marker_cf11986d0143a0245fadd1ba6cf5e508.bindPopup(popup_9908dfd7cf8f356a2b8de548d03886c9)
        ;

        
    
    
            var marker_ee9081a8ca585ce74901ea385f6dd3f8 = L.marker(
                [37.513944277521176, -85.2778374695832],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_a1bece7ddc3257ee2300d26940dae001 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ee9081a8ca585ce74901ea385f6dd3f8.setIcon(icon_a1bece7ddc3257ee2300d26940dae001);
        
    
        var popup_d8956598492fc5072e60c3677f734fc8 = L.popup({"maxWidth": 300});

        
            
                var html_7f5e171d9b83c183fca0c99660a6a5b4 = $(`<div id="html_7f5e171d9b83c183fca0c99660a6a5b4" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>1,294,731.00</strong></div>`)[0];
                popup_d8956598492fc5072e60c3677f734fc8.setContent(html_7f5e171d9b83c183fca0c99660a6a5b4);
            
        

        marker_ee9081a8ca585ce74901ea385f6dd3f8.bindPopup(popup_d8956598492fc5072e60c3677f734fc8)
        ;

        
    
    
            var marker_a42e0ec8341682c4d2e3554e937bc615 = L.marker(
                [37.513944277521176, -85.2778374695832],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_e26fab9e0cdbe6bdad5a7c93e22103c6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_a42e0ec8341682c4d2e3554e937bc615.setIcon(icon_e26fab9e0cdbe6bdad5a7c93e22103c6);
        
    
        var popup_d63e0366e0b16eb365a3b60ff4b527a8 = L.popup({"maxWidth": 300});

        
            
                var html_12bce13400c792bd72bc2be1c84d9f63 = $(`<div id="html_12bce13400c792bd72bc2be1c84d9f63" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>12,674,184.00</strong></div>`)[0];
                popup_d63e0366e0b16eb365a3b60ff4b527a8.setContent(html_12bce13400c792bd72bc2be1c84d9f63);
            
        

        marker_a42e0ec8341682c4d2e3554e937bc615.bindPopup(popup_d63e0366e0b16eb365a3b60ff4b527a8)
        ;

        
    
    
            var marker_6136ba3925669f02d12326551d69848a = L.marker(
                [37.513944277521176, -85.2778374695832],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_b2820ca4a0cbd9f149df0cefbb251f27 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6136ba3925669f02d12326551d69848a.setIcon(icon_b2820ca4a0cbd9f149df0cefbb251f27);
        
    
        var popup_b8c6abcd13de1910e596bcb1e09b0a2e = L.popup({"maxWidth": 300});

        
            
                var html_8c3d624eef32870a57f89e6fc54af1e0 = $(`<div id="html_8c3d624eef32870a57f89e6fc54af1e0" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>2,352,785.00</strong></div>`)[0];
                popup_b8c6abcd13de1910e596bcb1e09b0a2e.setContent(html_8c3d624eef32870a57f89e6fc54af1e0);
            
        

        marker_6136ba3925669f02d12326551d69848a.bindPopup(popup_b8c6abcd13de1910e596bcb1e09b0a2e)
        ;

        
    
    
            var marker_e13f170417d31f2133fc4c1ae1dd7f87 = L.marker(
                [35.535931934684726, -79.25209078283069],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_c00913975a4a5ec7d200a4cb5053e123 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e13f170417d31f2133fc4c1ae1dd7f87.setIcon(icon_c00913975a4a5ec7d200a4cb5053e123);
        
    
        var popup_1490f891a7a36ce8419f77cf00aa88ec = L.popup({"maxWidth": 300});

        
            
                var html_effd17e1f0e875b867d3600351e00454 = $(`<div id="html_effd17e1f0e875b867d3600351e00454" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>18,898,938.00</strong></div>`)[0];
                popup_1490f891a7a36ce8419f77cf00aa88ec.setContent(html_effd17e1f0e875b867d3600351e00454);
            
        

        marker_e13f170417d31f2133fc4c1ae1dd7f87.bindPopup(popup_1490f891a7a36ce8419f77cf00aa88ec)
        ;

        
    
    
            var marker_59db8f0518f0b3f487576f88a8f12d3f = L.marker(
                [40.40520588401432, -82.7102574363639],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_42f5e97b40020f8e82b5c572bdf9d465 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_59db8f0518f0b3f487576f88a8f12d3f.setIcon(icon_42f5e97b40020f8e82b5c572bdf9d465);
        
    
        var popup_0ff3d0884bf989a6b6822d79b1b47e49 = L.popup({"maxWidth": 300});

        
            
                var html_4643477fc82910d9d90be42ca8bd8f85 = $(`<div id="html_4643477fc82910d9d90be42ca8bd8f85" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>12,811,026.00</strong></div>`)[0];
                popup_0ff3d0884bf989a6b6822d79b1b47e49.setContent(html_4643477fc82910d9d90be42ca8bd8f85);
            
        

        marker_59db8f0518f0b3f487576f88a8f12d3f.bindPopup(popup_0ff3d0884bf989a6b6822d79b1b47e49)
        ;

        
    
    
            var marker_6c583452e6f85dd837d4ed8508ec52d1 = L.marker(
                [40.40520588401432, -82.7102574363639],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_3f02683003f20a589b011e32c38cc93b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_6c583452e6f85dd837d4ed8508ec52d1.setIcon(icon_3f02683003f20a589b011e32c38cc93b);
        
    
        var popup_046bda88c93d081225e9d895d5d3becf = L.popup({"maxWidth": 300});

        
            
                var html_3112a50bd0e7646092a1e5c479c277b3 = $(`<div id="html_3112a50bd0e7646092a1e5c479c277b3" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>10,306,192.00</strong></div>`)[0];
                popup_046bda88c93d081225e9d895d5d3becf.setContent(html_3112a50bd0e7646092a1e5c479c277b3);
            
        

        marker_6c583452e6f85dd837d4ed8508ec52d1.bindPopup(popup_046bda88c93d081225e9d895d5d3becf)
        ;

        
    
    
            var marker_0b98afa5b518bf39c81f93ab1c42523f = L.marker(
                [37.50686198475135, -78.80954026017798],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_f78b3c1668515a3dd8febe99cb08c1f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0b98afa5b518bf39c81f93ab1c42523f.setIcon(icon_f78b3c1668515a3dd8febe99cb08c1f8);
        
    
        var popup_11956fae89c33df8d902ad4073d5c152 = L.popup({"maxWidth": 300});

        
            
                var html_565b5bacde6b97ebe5eb7b9358663d69 = $(`<div id="html_565b5bacde6b97ebe5eb7b9358663d69" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>4,146,176.00</strong></div>`)[0];
                popup_11956fae89c33df8d902ad4073d5c152.setContent(html_565b5bacde6b97ebe5eb7b9358663d69);
            
        

        marker_0b98afa5b518bf39c81f93ab1c42523f.bindPopup(popup_11956fae89c33df8d902ad4073d5c152)
        ;

        
    
    
            var marker_69f28c5b77a9c3ca0d78b9c9194a8991 = L.marker(
                [37.50686198475135, -78.80954026017798],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_ff1447c654b641146e392d40967c9870 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_69f28c5b77a9c3ca0d78b9c9194a8991.setIcon(icon_ff1447c654b641146e392d40967c9870);
        
    
        var popup_c35359af06b281c4af3c80401cf6fc1d = L.popup({"maxWidth": 300});

        
            
                var html_bcbdc28f87759dd02d34c77767e9c186 = $(`<div id="html_bcbdc28f87759dd02d34c77767e9c186" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>11,209,790.00</strong></div>`)[0];
                popup_c35359af06b281c4af3c80401cf6fc1d.setContent(html_bcbdc28f87759dd02d34c77767e9c186);
            
        

        marker_69f28c5b77a9c3ca0d78b9c9194a8991.bindPopup(popup_c35359af06b281c4af3c80401cf6fc1d)
        ;

        
    
    
            var marker_9613bb7c546eb0cd21e628bd15cf5ed1 = L.marker(
                [44.650964010517086, -89.72990560311337],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_78ee03c84c43fb7d63e9d561233e07e5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9613bb7c546eb0cd21e628bd15cf5ed1.setIcon(icon_78ee03c84c43fb7d63e9d561233e07e5);
        
    
        var popup_2b87dc043dfe7a2f8ec1b9b97a1651c9 = L.popup({"maxWidth": 300});

        
            
                var html_7d3c1e190d8eecfa7b2eec844907110c = $(`<div id="html_7d3c1e190d8eecfa7b2eec844907110c" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>1,606,161.00</strong></div>`)[0];
                popup_2b87dc043dfe7a2f8ec1b9b97a1651c9.setContent(html_7d3c1e190d8eecfa7b2eec844907110c);
            
        

        marker_9613bb7c546eb0cd21e628bd15cf5ed1.bindPopup(popup_2b87dc043dfe7a2f8ec1b9b97a1651c9)
        ;

        
    
    
            var marker_7ca8fb4fff8a3b4debf67d35bda225c3 = L.marker(
                [38.99158990422706, -75.49952240691199],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_0b9bc86ac43f6c0bbfa17d11c409aa02 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_7ca8fb4fff8a3b4debf67d35bda225c3.setIcon(icon_0b9bc86ac43f6c0bbfa17d11c409aa02);
        
    
        var popup_05279f486f0d425c1f2cfe7aa5df9dcb = L.popup({"maxWidth": 300});

        
            
                var html_2ca710a3c4d3de0e927aacabf9e40274 = $(`<div id="html_2ca710a3c4d3de0e927aacabf9e40274" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>11,173,567.00</strong></div>`)[0];
                popup_05279f486f0d425c1f2cfe7aa5df9dcb.setContent(html_2ca710a3c4d3de0e927aacabf9e40274);
            
        

        marker_7ca8fb4fff8a3b4debf67d35bda225c3.bindPopup(popup_05279f486f0d425c1f2cfe7aa5df9dcb)
        ;

        
    
    
            var marker_c1c7506eb8920adbd7de37ba0f3ffbe5 = L.marker(
                [45.33744943653701, -69.21754146982202],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_0d47db1450cef005ead9705bbb21032e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c1c7506eb8920adbd7de37ba0f3ffbe5.setIcon(icon_0d47db1450cef005ead9705bbb21032e);
        
    
        var popup_dc6c3d1566260193e5296771e31b4bd1 = L.popup({"maxWidth": 300});

        
            
                var html_5af0ee0d2c8012cd62034611d14d9d58 = $(`<div id="html_5af0ee0d2c8012cd62034611d14d9d58" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>20,218,392.00</strong></div>`)[0];
                popup_dc6c3d1566260193e5296771e31b4bd1.setContent(html_5af0ee0d2c8012cd62034611d14d9d58);
            
        

        marker_c1c7506eb8920adbd7de37ba0f3ffbe5.bindPopup(popup_dc6c3d1566260193e5296771e31b4bd1)
        ;

        
    
    
            var marker_0774fb55795d0aa02ba1e72990f87276 = L.marker(
                [44.86521547692558, -85.729715144727],
                {}
            ).addTo(marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8);
        
    
            var icon_c14a46e0e7e771094c5d7ff65f1dcbd3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_0774fb55795d0aa02ba1e72990f87276.setIcon(icon_c14a46e0e7e771094c5d7ff65f1dcbd3);
        
    
        var popup_9b6e68b963187a414e7c3d407945378b = L.popup({"maxWidth": 300});

        
            
                var html_83f4bb45db6c722975c391039bd64e94 = $(`<div id="html_83f4bb45db6c722975c391039bd64e94" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Eastern Standard Time (EST)</strong><br>YearOfSale: <strong>2015</strong><br>Sales Value:<strong>15,603,846.00</strong></div>`)[0];
                popup_9b6e68b963187a414e7c3d407945378b.setContent(html_83f4bb45db6c722975c391039bd64e94);
            
        

        marker_0774fb55795d0aa02ba1e72990f87276.bindPopup(popup_9b6e68b963187a414e7c3d407945378b)
        ;

        
    
    
            marker_cluster_144e0b3e24e3738211bb0f0a0aab82c8.addTo(map_85c994e239a3aa941de4db326bd641ca);
        
</script>
</html>