<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e96305e9e6cae285acb34d17e089b3c4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_e96305e9e6cae285acb34d17e089b3c4" ></div>
        
</body>
<script>
    
    
            var map_e96305e9e6cae285acb34d17e089b3c4 = L.map(
                "map_e96305e9e6cae285acb34d17e089b3c4",
                {
                    center: [37.0902, -95.7129],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8f7106691ad94c3320006e99e66effe9 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_8f7106691ad94c3320006e99e66effe9.addTo(map_e96305e9e6cae285acb34d17e089b3c4);
        
    
            var marker_cluster_adeaefdef2f48768c95814cd6ba3e9dc = L.markerClusterGroup(
                {}
            );
        
    
            var marker_745182bad67be6463e8320d94a098f95 = L.marker(
                [39.328763913174456, -111.66920084078133],
                {}
            ).addTo(marker_cluster_adeaefdef2f48768c95814cd6ba3e9dc);
        
    
            var icon_a1989df4874ccf264519af4109cc1da5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_745182bad67be6463e8320d94a098f95.setIcon(icon_a1989df4874ccf264519af4109cc1da5);
        
    
        var popup_80f248bf6a42658333e6a7d988d44c48 = L.popup({"maxWidth": 300});

        
            
                var html_7f414dc85008aa9d583d77553e7900cc = $(`<div id="html_7f414dc85008aa9d583d77553e7900cc" style="width: 100.0%; height: 100.0%;"><br>State: <strong>Utah</strong><br>Season: <strong>Spring</strong><br>Sales Value:<strong>16,630,657.00</strong></div>`)[0];
                popup_80f248bf6a42658333e6a7d988d44c48.setContent(html_7f414dc85008aa9d583d77553e7900cc);
            
        

        marker_745182bad67be6463e8320d94a098f95.bindPopup(popup_80f248bf6a42658333e6a7d988d44c48)
        ;

        
    
    
            var marker_a6cdcaf768fa221065047d2a406a1806 = L.marker(
                [39.328763913174456, -111.66920084078133],
                {}
            ).addTo(marker_cluster_adeaefdef2f48768c95814cd6ba3e9dc);
        
    
            var icon_26d034ab58bca3be6937c1d509167a28 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a6cdcaf768fa221065047d2a406a1806.setIcon(icon_26d034ab58bca3be6937c1d509167a28);
        
    
        var popup_fd1f3abc491ae2535f3edb6cf5533881 = L.popup({"maxWidth": 300});

        
            
                var html_9c0f9ce8d278d7522002f8180092c5c8 = $(`<div id="html_9c0f9ce8d278d7522002f8180092c5c8" style="width: 100.0%; height: 100.0%;"><br>State: <strong>Utah</strong><br>Season: <strong>Spring</strong><br>Sales Value:<strong>1,625,380.00</strong></div>`)[0];
                popup_fd1f3abc491ae2535f3edb6cf5533881.setContent(html_9c0f9ce8d278d7522002f8180092c5c8);
            
        

        marker_a6cdcaf768fa221065047d2a406a1806.bindPopup(popup_fd1f3abc491ae2535f3edb6cf5533881)
        ;

        
    
    
            var marker_02de0f861b3969f52f0ed82dfbddf698 = L.marker(
                [39.328763913174456, -111.66920084078133],
                {}
            ).addTo(marker_cluster_adeaefdef2f48768c95814cd6ba3e9dc);
        
    
            var icon_6a912e7a4c5f944c63c3edd233bb231f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_02de0f861b3969f52f0ed82dfbddf698.setIcon(icon_6a912e7a4c5f944c63c3edd233bb231f);
        
    
        var popup_ff8614916b86aa87741fc59a8375c624 = L.popup({"maxWidth": 300});

        
            
                var html_253796de4f9226b377e068e1ff89a597 = $(`<div id="html_253796de4f9226b377e068e1ff89a597" style="width: 100.0%; height: 100.0%;"><br>State: <strong>Utah</strong><br>Season: <strong>Spring</strong><br>Sales Value:<strong>6,376,070.00</strong></div>`)[0];
                popup_ff8614916b86aa87741fc59a8375c624.setContent(html_253796de4f9226b377e068e1ff89a597);
            
        

        marker_02de0f861b3969f52f0ed82dfbddf698.bindPopup(popup_ff8614916b86aa87741fc59a8375c624)
        ;

        
    
    
            var marker_a8e91074d2b4ac50b041655627907a96 = L.marker(
                [39.328763913174456, -111.66920084078133],
                {}
            ).addTo(marker_cluster_adeaefdef2f48768c95814cd6ba3e9dc);
        
    
            var icon_f93dffd7762d0bcab222dd223335343b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_a8e91074d2b4ac50b041655627907a96.setIcon(icon_f93dffd7762d0bcab222dd223335343b);
        
    
        var popup_b9b0487d0e9065514fd2ab20ff214215 = L.popup({"maxWidth": 300});

        
            
                var html_fe01b8aa7b2592046a9e2361c5ac92d2 = $(`<div id="html_fe01b8aa7b2592046a9e2361c5ac92d2" style="width: 100.0%; height: 100.0%;"><br>State: <strong>Utah</strong><br>Season: <strong>Spring</strong><br>Sales Value:<strong>9,525,835.00</strong></div>`)[0];
                popup_b9b0487d0e9065514fd2ab20ff214215.setContent(html_fe01b8aa7b2592046a9e2361c5ac92d2);
            
        

        marker_a8e91074d2b4ac50b041655627907a96.bindPopup(popup_b9b0487d0e9065514fd2ab20ff214215)
        ;

        
    
    
            var marker_168feae1998e880874761fb47a8340fc = L.marker(
                [39.328763913174456, -111.66920084078133],
                {}
            ).addTo(marker_cluster_adeaefdef2f48768c95814cd6ba3e9dc);
        
    
            var icon_240fedbf97a7db16f50cdcae2cccad63 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_168feae1998e880874761fb47a8340fc.setIcon(icon_240fedbf97a7db16f50cdcae2cccad63);
        
    
        var popup_4df4ed05340b9e2c79ff0017bd66d359 = L.popup({"maxWidth": 300});

        
            
                var html_a55c182eabd48bb4b320b8b8f1beae98 = $(`<div id="html_a55c182eabd48bb4b320b8b8f1beae98" style="width: 100.0%; height: 100.0%;"><br>State: <strong>Utah</strong><br>Season: <strong>Spring</strong><br>Sales Value:<strong>760,146.00</strong></div>`)[0];
                popup_4df4ed05340b9e2c79ff0017bd66d359.setContent(html_a55c182eabd48bb4b320b8b8f1beae98);
            
        

        marker_168feae1998e880874761fb47a8340fc.bindPopup(popup_4df4ed05340b9e2c79ff0017bd66d359)
        ;

        
    
    
            marker_cluster_adeaefdef2f48768c95814cd6ba3e9dc.addTo(map_e96305e9e6cae285acb34d17e089b3c4);
        
</script>
</html>