<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_becd51990d8bd4e09bddca364b56cc6e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_becd51990d8bd4e09bddca364b56cc6e" ></div>
        
</body>
<script>
    
    
            var map_becd51990d8bd4e09bddca364b56cc6e = L.map(
                "map_becd51990d8bd4e09bddca364b56cc6e",
                {
                    center: [37.0902, -95.7129],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_068e8511b59924a927a150174395c4fc = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_068e8511b59924a927a150174395c4fc.addTo(map_becd51990d8bd4e09bddca364b56cc6e);
        
    
            var marker_cluster_7e705e0c58b2255ff4f47f54b7167e50 = L.markerClusterGroup(
                {}
            );
        
    
            var marker_83d8dfbb81eecf4302159b7b4138b3b1 = L.marker(
                [34.29559508311374, -111.65946346331856],
                {}
            ).addTo(marker_cluster_7e705e0c58b2255ff4f47f54b7167e50);
        
    
            var icon_b56f426fed93e68585ad019842850f0b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_83d8dfbb81eecf4302159b7b4138b3b1.setIcon(icon_b56f426fed93e68585ad019842850f0b);
        
    
        var popup_46a15ba1928c91367a4a1efe57df9251 = L.popup({"maxWidth": 300});

        
            
                var html_0be2daa13d00e5e283679fca5318285e = $(`<div id="html_0be2daa13d00e5e283679fca5318285e" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Tariq Khan</strong><br>Sales Value:<strong>15,099,898.00</strong></div>`)[0];
                popup_46a15ba1928c91367a4a1efe57df9251.setContent(html_0be2daa13d00e5e283679fca5318285e);
            
        

        marker_83d8dfbb81eecf4302159b7b4138b3b1.bindPopup(popup_46a15ba1928c91367a4a1efe57df9251)
        ;

        
    
    
            var marker_8a494c4e6779e5aa3919bbe52ac13f43 = L.marker(
                [34.29559508311374, -111.65946346331856],
                {}
            ).addTo(marker_cluster_7e705e0c58b2255ff4f47f54b7167e50);
        
    
            var icon_11322abc596f2e485692519d3517c9ec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_8a494c4e6779e5aa3919bbe52ac13f43.setIcon(icon_11322abc596f2e485692519d3517c9ec);
        
    
        var popup_cca0c5784d0db0a84e1ff02ed527278d = L.popup({"maxWidth": 300});

        
            
                var html_8401f66ac1630bfe13a00c0b30d6a00c = $(`<div id="html_8401f66ac1630bfe13a00c0b30d6a00c" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Tariq Khan</strong><br>Sales Value:<strong>9,017,957.00</strong></div>`)[0];
                popup_cca0c5784d0db0a84e1ff02ed527278d.setContent(html_8401f66ac1630bfe13a00c0b30d6a00c);
            
        

        marker_8a494c4e6779e5aa3919bbe52ac13f43.bindPopup(popup_cca0c5784d0db0a84e1ff02ed527278d)
        ;

        
    
    
            var marker_2876b4e3d9ea155d98662460a1dcb2dd = L.marker(
                [34.29559508311374, -111.65946346331856],
                {}
            ).addTo(marker_cluster_7e705e0c58b2255ff4f47f54b7167e50);
        
    
            var icon_431242b1292097726bdd9e1716140879 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_2876b4e3d9ea155d98662460a1dcb2dd.setIcon(icon_431242b1292097726bdd9e1716140879);
        
    
        var popup_de06e52f447ad987f1064d2e34696f31 = L.popup({"maxWidth": 300});

        
            
                var html_db30d1b2d80b690089ac6a617418e419 = $(`<div id="html_db30d1b2d80b690089ac6a617418e419" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Tariq Khan</strong><br>Sales Value:<strong>10,781,868.00</strong></div>`)[0];
                popup_de06e52f447ad987f1064d2e34696f31.setContent(html_db30d1b2d80b690089ac6a617418e419);
            
        

        marker_2876b4e3d9ea155d98662460a1dcb2dd.bindPopup(popup_de06e52f447ad987f1064d2e34696f31)
        ;

        
    
    
            var marker_88e7b55569a11efb7b15d4d96a5ac9ba = L.marker(
                [34.29559508311374, -111.65946346331856],
                {}
            ).addTo(marker_cluster_7e705e0c58b2255ff4f47f54b7167e50);
        
    
            var icon_ecf5cfaea6962bda244d9e4bb73c79ff = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_88e7b55569a11efb7b15d4d96a5ac9ba.setIcon(icon_ecf5cfaea6962bda244d9e4bb73c79ff);
        
    
        var popup_316a6bda0248e8238ed9fd22419ae200 = L.popup({"maxWidth": 300});

        
            
                var html_535be3f1724cf0c2c08550aff2664e2f = $(`<div id="html_535be3f1724cf0c2c08550aff2664e2f" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Tariq Khan</strong><br>Sales Value:<strong>1,677,476.00</strong></div>`)[0];
                popup_316a6bda0248e8238ed9fd22419ae200.setContent(html_535be3f1724cf0c2c08550aff2664e2f);
            
        

        marker_88e7b55569a11efb7b15d4d96a5ac9ba.bindPopup(popup_316a6bda0248e8238ed9fd22419ae200)
        ;

        
    
    
            var marker_36c98a0e2bf8275ea928e88ad45b8168 = L.marker(
                [34.41655926898079, -106.08613015755955],
                {}
            ).addTo(marker_cluster_7e705e0c58b2255ff4f47f54b7167e50);
        
    
            var icon_7420c4e78dc7052be394e29fdfddf666 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_36c98a0e2bf8275ea928e88ad45b8168.setIcon(icon_7420c4e78dc7052be394e29fdfddf666);
        
    
        var popup_48a3f1b919a80a2d4a1dc08eda2f51e7 = L.popup({"maxWidth": 300});

        
            
                var html_c072ec9073a949caf2954ec780f8e1e2 = $(`<div id="html_c072ec9073a949caf2954ec780f8e1e2" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Tariq Khan</strong><br>Sales Value:<strong>936,029.00</strong></div>`)[0];
                popup_48a3f1b919a80a2d4a1dc08eda2f51e7.setContent(html_c072ec9073a949caf2954ec780f8e1e2);
            
        

        marker_36c98a0e2bf8275ea928e88ad45b8168.bindPopup(popup_48a3f1b919a80a2d4a1dc08eda2f51e7)
        ;

        
    
    
            var marker_b04104338552b20086ad739bea3974a2 = L.marker(
                [34.41655926898079, -106.08613015755955],
                {}
            ).addTo(marker_cluster_7e705e0c58b2255ff4f47f54b7167e50);
        
    
            var icon_9668e983bfeab827f1f7f2fb1e12a454 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b04104338552b20086ad739bea3974a2.setIcon(icon_9668e983bfeab827f1f7f2fb1e12a454);
        
    
        var popup_6f8c4006f3882ec78603c522cfea433d = L.popup({"maxWidth": 300});

        
            
                var html_e92e83a9bff774cad92a9192fdc7c8e0 = $(`<div id="html_e92e83a9bff774cad92a9192fdc7c8e0" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Tariq Khan</strong><br>Sales Value:<strong>1,020,953.00</strong></div>`)[0];
                popup_6f8c4006f3882ec78603c522cfea433d.setContent(html_e92e83a9bff774cad92a9192fdc7c8e0);
            
        

        marker_b04104338552b20086ad739bea3974a2.bindPopup(popup_6f8c4006f3882ec78603c522cfea433d)
        ;

        
    
    
            var marker_fdf463c8fd6ca0b8c58ed8d244ee9a42 = L.marker(
                [34.41655926898079, -106.08613015755955],
                {}
            ).addTo(marker_cluster_7e705e0c58b2255ff4f47f54b7167e50);
        
    
            var icon_600a5137a709cbe7483396d5e4b8edab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fdf463c8fd6ca0b8c58ed8d244ee9a42.setIcon(icon_600a5137a709cbe7483396d5e4b8edab);
        
    
        var popup_4b4f575d360f72d73a614d2613692f93 = L.popup({"maxWidth": 300});

        
            
                var html_67b1768f48906da2a5ee9ebce225c2a8 = $(`<div id="html_67b1768f48906da2a5ee9ebce225c2a8" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Tariq Khan</strong><br>Sales Value:<strong>3,581,964.00</strong></div>`)[0];
                popup_4b4f575d360f72d73a614d2613692f93.setContent(html_67b1768f48906da2a5ee9ebce225c2a8);
            
        

        marker_fdf463c8fd6ca0b8c58ed8d244ee9a42.bindPopup(popup_4b4f575d360f72d73a614d2613692f93)
        ;

        
    
    
            var marker_4fff33f1008b92a4af75aad53fe0febf = L.marker(
                [34.41655926898079, -106.08613015755955],
                {}
            ).addTo(marker_cluster_7e705e0c58b2255ff4f47f54b7167e50);
        
    
            var icon_3e00ab738f36f3a2a8dd9784a5e01bbe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4fff33f1008b92a4af75aad53fe0febf.setIcon(icon_3e00ab738f36f3a2a8dd9784a5e01bbe);
        
    
        var popup_65ee1c90bfe05adf53500d45573b739e = L.popup({"maxWidth": 300});

        
            
                var html_4066cc51ef00dfa3d2f2e32e42991bf0 = $(`<div id="html_4066cc51ef00dfa3d2f2e32e42991bf0" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Tariq Khan</strong><br>Sales Value:<strong>4,714,151.00</strong></div>`)[0];
                popup_65ee1c90bfe05adf53500d45573b739e.setContent(html_4066cc51ef00dfa3d2f2e32e42991bf0);
            
        

        marker_4fff33f1008b92a4af75aad53fe0febf.bindPopup(popup_65ee1c90bfe05adf53500d45573b739e)
        ;

        
    
    
            var marker_a051ab36d3451bf61c0d0be1929e1c2a = L.marker(
                [39.328763913174456, -111.66920084078133],
                {}
            ).addTo(marker_cluster_7e705e0c58b2255ff4f47f54b7167e50);
        
    
            var icon_794605512b27dc891bd3f995338383d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a051ab36d3451bf61c0d0be1929e1c2a.setIcon(icon_794605512b27dc891bd3f995338383d3);
        
    
        var popup_fe764e9328efd18cfd176546fc15aa61 = L.popup({"maxWidth": 300});

        
            
                var html_8b885f1b09b9fcb9f54edb5052495c15 = $(`<div id="html_8b885f1b09b9fcb9f54edb5052495c15" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Tariq Khan</strong><br>Sales Value:<strong>760,146.00</strong></div>`)[0];
                popup_fe764e9328efd18cfd176546fc15aa61.setContent(html_8b885f1b09b9fcb9f54edb5052495c15);
            
        

        marker_a051ab36d3451bf61c0d0be1929e1c2a.bindPopup(popup_fe764e9328efd18cfd176546fc15aa61)
        ;

        
    
    
            var marker_a8f0fdf23f95d86f455a0385e91baebe = L.marker(
                [43.02707584077604, -107.55436942193707],
                {}
            ).addTo(marker_cluster_7e705e0c58b2255ff4f47f54b7167e50);
        
    
            var icon_e9abae50f61265c202604634cfd29451 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a8f0fdf23f95d86f455a0385e91baebe.setIcon(icon_e9abae50f61265c202604634cfd29451);
        
    
        var popup_c401ecf3493eba2614517227aa03cc54 = L.popup({"maxWidth": 300});

        
            
                var html_a2e2962b8defd280817c1d415bd967c6 = $(`<div id="html_a2e2962b8defd280817c1d415bd967c6" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Tariq Khan</strong><br>Sales Value:<strong>5,015,068.00</strong></div>`)[0];
                popup_c401ecf3493eba2614517227aa03cc54.setContent(html_a2e2962b8defd280817c1d415bd967c6);
            
        

        marker_a8f0fdf23f95d86f455a0385e91baebe.bindPopup(popup_c401ecf3493eba2614517227aa03cc54)
        ;

        
    
    
            var marker_6d63d3f65eef286d5960cbf104ff6855 = L.marker(
                [43.02707584077604, -107.55436942193707],
                {}
            ).addTo(marker_cluster_7e705e0c58b2255ff4f47f54b7167e50);
        
    
            var icon_edabe20c2088dea6b5a6d80b4f1cbcaa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_6d63d3f65eef286d5960cbf104ff6855.setIcon(icon_edabe20c2088dea6b5a6d80b4f1cbcaa);
        
    
        var popup_42abfc7af42866c4dc1b5f2b66bd8611 = L.popup({"maxWidth": 300});

        
            
                var html_496ab5ec4754e077d10b25bc88dc589b = $(`<div id="html_496ab5ec4754e077d10b25bc88dc589b" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Tariq Khan</strong><br>Sales Value:<strong>14,600,145.00</strong></div>`)[0];
                popup_42abfc7af42866c4dc1b5f2b66bd8611.setContent(html_496ab5ec4754e077d10b25bc88dc589b);
            
        

        marker_6d63d3f65eef286d5960cbf104ff6855.bindPopup(popup_42abfc7af42866c4dc1b5f2b66bd8611)
        ;

        
    
    
            marker_cluster_7e705e0c58b2255ff4f47f54b7167e50.addTo(map_becd51990d8bd4e09bddca364b56cc6e);
        
</script>
</html>