<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ed30681a02db3c8b2e18719a3b040a43 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_ed30681a02db3c8b2e18719a3b040a43" ></div>
        
</body>
<script>
    
    
            var map_ed30681a02db3c8b2e18719a3b040a43 = L.map(
                "map_ed30681a02db3c8b2e18719a3b040a43",
                {
                    center: [37.0902, -95.7129],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b20725da5c2ca764f492d4e72394ac50 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_b20725da5c2ca764f492d4e72394ac50.addTo(map_ed30681a02db3c8b2e18719a3b040a43);
        
    
            var marker_cluster_0c8dc71692882cb129cd151ad4064028 = L.markerClusterGroup(
                {}
            );
        
    
            var marker_01118fcd89f4e5dd8a17e3aa8dce4425 = L.marker(
                [34.29559508311374, -111.65946346331856],
                {}
            ).addTo(marker_cluster_0c8dc71692882cb129cd151ad4064028);
        
    
            var icon_9534e0b75996776e7d334d87a02dc81c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_01118fcd89f4e5dd8a17e3aa8dce4425.setIcon(icon_9534e0b75996776e7d334d87a02dc81c);
        
    
        var popup_2948ddd2509434886a1c5227066e0113 = L.popup({"maxWidth": 300});

        
            
                var html_c3425b135483d8d9029b8c629ac3417e = $(`<div id="html_c3425b135483d8d9029b8c629ac3417e" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Mohammad Rahman</strong><br>Sales Value:<strong>1,068,193.00</strong></div>`)[0];
                popup_2948ddd2509434886a1c5227066e0113.setContent(html_c3425b135483d8d9029b8c629ac3417e);
            
        

        marker_01118fcd89f4e5dd8a17e3aa8dce4425.bindPopup(popup_2948ddd2509434886a1c5227066e0113)
        ;

        
    
    
            var marker_bbd0e562671f50adb378ac7e510fd53d = L.marker(
                [34.29559508311374, -111.65946346331856],
                {}
            ).addTo(marker_cluster_0c8dc71692882cb129cd151ad4064028);
        
    
            var icon_51fe5a7864f0dab5729f91944f33ebf3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bbd0e562671f50adb378ac7e510fd53d.setIcon(icon_51fe5a7864f0dab5729f91944f33ebf3);
        
    
        var popup_47edf2a19d3795ad15355b917a6f3f02 = L.popup({"maxWidth": 300});

        
            
                var html_e5bc798375360fdb97860077d84e828e = $(`<div id="html_e5bc798375360fdb97860077d84e828e" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Mohammad Rahman</strong><br>Sales Value:<strong>919,633.00</strong></div>`)[0];
                popup_47edf2a19d3795ad15355b917a6f3f02.setContent(html_e5bc798375360fdb97860077d84e828e);
            
        

        marker_bbd0e562671f50adb378ac7e510fd53d.bindPopup(popup_47edf2a19d3795ad15355b917a6f3f02)
        ;

        
    
    
            var marker_71eed2e60f320e13bbc23a0b185db8ee = L.marker(
                [34.41655926898079, -106.08613015755955],
                {}
            ).addTo(marker_cluster_0c8dc71692882cb129cd151ad4064028);
        
    
            var icon_6f58aefeae6ff255c0ab25787c6495dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_71eed2e60f320e13bbc23a0b185db8ee.setIcon(icon_6f58aefeae6ff255c0ab25787c6495dd);
        
    
        var popup_b94da333c1d441a2adc2da82a4f65a88 = L.popup({"maxWidth": 300});

        
            
                var html_a2e5f3100f9396b23ca8a0283c19a67c = $(`<div id="html_a2e5f3100f9396b23ca8a0283c19a67c" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Mohammad Rahman</strong><br>Sales Value:<strong>1,513,652.00</strong></div>`)[0];
                popup_b94da333c1d441a2adc2da82a4f65a88.setContent(html_a2e5f3100f9396b23ca8a0283c19a67c);
            
        

        marker_71eed2e60f320e13bbc23a0b185db8ee.bindPopup(popup_b94da333c1d441a2adc2da82a4f65a88)
        ;

        
    
    
            var marker_a975b02650f13bce4239132120bcb21d = L.marker(
                [34.41655926898079, -106.08613015755955],
                {}
            ).addTo(marker_cluster_0c8dc71692882cb129cd151ad4064028);
        
    
            var icon_8f00d6adca14d7ea0783f9acecb5cac4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a975b02650f13bce4239132120bcb21d.setIcon(icon_8f00d6adca14d7ea0783f9acecb5cac4);
        
    
        var popup_9c4170a8fbd57ddc1d209663836e3e78 = L.popup({"maxWidth": 300});

        
            
                var html_8881fd0d8bdf38b4433f35a40c1c28c6 = $(`<div id="html_8881fd0d8bdf38b4433f35a40c1c28c6" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Mohammad Rahman</strong><br>Sales Value:<strong>4,505,138.00</strong></div>`)[0];
                popup_9c4170a8fbd57ddc1d209663836e3e78.setContent(html_8881fd0d8bdf38b4433f35a40c1c28c6);
            
        

        marker_a975b02650f13bce4239132120bcb21d.bindPopup(popup_9c4170a8fbd57ddc1d209663836e3e78)
        ;

        
    
    
            var marker_7076b1935b54da4d4adbb69d3ca81864 = L.marker(
                [39.328763913174456, -111.66920084078133],
                {}
            ).addTo(marker_cluster_0c8dc71692882cb129cd151ad4064028);
        
    
            var icon_a9fded50bdc608e17b838aaf70c7df5c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7076b1935b54da4d4adbb69d3ca81864.setIcon(icon_a9fded50bdc608e17b838aaf70c7df5c);
        
    
        var popup_893660f13d1173835f1c8728612047ae = L.popup({"maxWidth": 300});

        
            
                var html_d1a2969fab0eba316f947ef95f91d6c3 = $(`<div id="html_d1a2969fab0eba316f947ef95f91d6c3" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Mohammad Rahman</strong><br>Sales Value:<strong>18,002,412.00</strong></div>`)[0];
                popup_893660f13d1173835f1c8728612047ae.setContent(html_d1a2969fab0eba316f947ef95f91d6c3);
            
        

        marker_7076b1935b54da4d4adbb69d3ca81864.bindPopup(popup_893660f13d1173835f1c8728612047ae)
        ;

        
    
    
            var marker_814fc6f59f5d138a25590843ba69f070 = L.marker(
                [43.02707584077604, -107.55436942193707],
                {}
            ).addTo(marker_cluster_0c8dc71692882cb129cd151ad4064028);
        
    
            var icon_4c2f1902be23bbe029825c08fa9af93c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_814fc6f59f5d138a25590843ba69f070.setIcon(icon_4c2f1902be23bbe029825c08fa9af93c);
        
    
        var popup_61d5b8b6362e1fdd93dd81c3caac5550 = L.popup({"maxWidth": 300});

        
            
                var html_e1efed4c8a16d61c38f4eed7567e4c89 = $(`<div id="html_e1efed4c8a16d61c38f4eed7567e4c89" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Mohammad Rahman</strong><br>Sales Value:<strong>1,284,977.00</strong></div>`)[0];
                popup_61d5b8b6362e1fdd93dd81c3caac5550.setContent(html_e1efed4c8a16d61c38f4eed7567e4c89);
            
        

        marker_814fc6f59f5d138a25590843ba69f070.bindPopup(popup_61d5b8b6362e1fdd93dd81c3caac5550)
        ;

        
    
    
            var marker_22d1851c2ce2a51e26d34998a86d9593 = L.marker(
                [43.02707584077604, -107.55436942193707],
                {}
            ).addTo(marker_cluster_0c8dc71692882cb129cd151ad4064028);
        
    
            var icon_a9133dfdc4b6c5b19de5a394428b3d2d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "yellow", "prefix": "glyphicon"}
            );
            marker_22d1851c2ce2a51e26d34998a86d9593.setIcon(icon_a9133dfdc4b6c5b19de5a394428b3d2d);
        
    
        var popup_c299f57637c478b8b63a33e7c6f17f5c = L.popup({"maxWidth": 300});

        
            
                var html_04278b0fb44b9a5f7ecbf391ad92da49 = $(`<div id="html_04278b0fb44b9a5f7ecbf391ad92da49" style="width: 100.0%; height: 100.0%;"><br>TimeZone: <strong>Mountain Standard Time (MST)</strong><br>SalesManager: <strong>Mohammad Rahman</strong><br>Sales Value:<strong>12,174,954.00</strong></div>`)[0];
                popup_c299f57637c478b8b63a33e7c6f17f5c.setContent(html_04278b0fb44b9a5f7ecbf391ad92da49);
            
        

        marker_22d1851c2ce2a51e26d34998a86d9593.bindPopup(popup_c299f57637c478b8b63a33e7c6f17f5c)
        ;

        
    
    
            marker_cluster_0c8dc71692882cb129cd151ad4064028.addTo(map_ed30681a02db3c8b2e18719a3b040a43);
        
</script>
</html>